h1 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  text-align: center;
  font-weight: 100;
  background-color: white;
  margin: 0;
  padding: 20px;
  color: #004d40;
  box-shadow: 0 10px 20px rgba(0, 77, 64, 0.25), 0 6px 6px rgba(0, 77, 64, 0.22);
  text-shadow: 0px 0px 1px rgba(29, 233, 182, 1);
  transition: 1.5s;

}

text {
  font-size: 25px;
  font-weight: bold;
}

form {
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  height: 50px;
  transition: 1.5s
}

.form {
  display: flex;
  border-radius: 100px;
  box-shadow: 0 10px 20px rgba(0, 77, 64, 0.25), 0 6px 6px rgba(0, 77, 64, 0.22);
}

input {
  border: none;
  text-align: center;
  border-radius: 100px;
  padding: 25px;
  font-family: inherit;
  box-sizing: border-box;
  width: 340px;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
}

input::placeholder {
  color: grey;
  text-transform: initial;
}

form button {
  outline: none;
  border: none;
  background-color: white;
  color: white;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  font-size: 24px;
  font-family: inherit;
  width: 50px;
  font-weight: bold;
  padding: 0;
  margin-left: -50px;
  transition: color ease-in-out 1s;
}

form button:hover, .demo:hover {
  color: rgb(29, 233, 182);
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.5s;
}

.demonstration {
  /* transition: 1.5s; */
  cursor: default;
  transform: translateY(-300px)
}
h1.demonstration {
  z-index: 100;
  transition: 1.5s;
  color: rgb(29, 233, 182);
  transform: none;
  background-color: black;
  margin-bottom: -100px
}
.demo {
  display: none;
}

form button:active, .demo:active {
  box-shadow: inset 1px 0px 3px 0px rgba(38, 50, 56, 1);
  outline: none;
  transition: ease-in-out 0.5s;

}

.demo {
  outline: none;
  display: block;
  margin: 0 auto;
  margin-top: -20px;
  border: none;
  background-color: white;
  color: rgb(29, 233, 182);
  border-radius: 100px;
  font-weight: bold;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
}

.svgWrapper {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  svg {
    width: 860px;
  }
  #svg_0 {
    transform: scale(0.91);
  }
  #svg_3,
  #svg_4,
  #svg_5,
  #svg_6 {
    transform: scale(0.9);
  }
}

@media (max-width: 600px) {
  svg {
    width: 360px;
  }
  #svg_3,
  #svg_4,
  #svg_5,
  #svg_6 {
    transform: scale(0.37);
  }
  .empty {   
    font-size: 20px
  }
  .error {
    font-size: 12px;
  }
  #svg_0 {
    transform: scale(0.6);
    transform: translateX(-300px);
  }
}
