rect,
path {
  opacity: 1;
  animation: appear 1s;
  transition: 1s;
}
.black {
  fill: black;
}
.grey {
  fill: grey;
}
.white {
  fill: white;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
