.black {
    fill: black;
    transition: fill 1.8s ease-in-out;
    opacity: 1;
}
.grey {
    fill: grey;
    transition: fill 1.8s ease-in-out;
    opacity: 1;
}
.white {
    fill: white;
    transition: fill 1.8s ease-in-out;
    opacity: 1;
}